.landing-sect {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 50px;
  min-height: 100vh;
}

.special-button {
  font-family: Cairo;
  color: black;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  padding: 0;
}

.banner {
  width: 100%;
  color: black;
  background-color: white;
}

.banner-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 100px 0;
}

.app-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page-icon {
  width: 100px;
  height: 100px;
}

.app-title {
  font-family: Kanit;
  line-height: 100px;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

.app-desc {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  width: 50%;
  margin: 0;
}

.button-container > button,
.form-btn {
  font-family: Cairo;
  width: 200px;
  font-size: 1.3rem;
  background-color: white;
  border-radius: 3px;
  border: 2px solid #7cc576;
  position: relative;
  margin: auto;
  display: block;
}

.button-container > button:hover,
.form-btn:hover {
  background-color: #7cc576;
  background-image: linear-gradient(to bottom left, #7cc576, #2b4d28);
  color: white;
}

.button-container > button:focus,
.form-btn:focus {
  outline: 0.5px solid #7cc576;
  box-shadow: 00 0 0 1pt #7cc576;
  background-color: #7cc576;
  background-image: linear-gradient(to bottom left, #7cc576, #2b4d28);
  color: white;
}

.app-info-wrapper {
  width: 50%;
}

.right-header {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 50px;
  margin-bottom: 0;
}

.left-header {
  margin-left: 50px;
  margin-bottom: 0;
}

.app-info-wrapper > p {
  margin: 0;
  font-size: 1.3rem;
}

.app-info-wrapper > p > span {
  font-weight: 700;
}

.left-pointing {
  display: flex;
  flex-direction: row-reverse;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.article-header {
  font-family: Kanit;
  display: flex;
  justify-content: center;
  font-size: 2.7rem;
}

.how-to-image {
  display: block;
  margin: auto;
}

.how-to-article {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;
  width: 50%;
  margin: auto;
}

.p-icon-container {
  display: flex;
  justify-content: flex-end;
}

.right-arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-arrow-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.what-now-article {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;
  background-color: white;
}

.landing-log {
  color: #2b4d28;
  font-weight: 700;
}

.landing-tag {
  color: #f68e56;
  font-weight: 700;
}

@media screen and (min-width: 800px) {
  .what-now-article > div {
    width: 50%;
    margin: auto;
  }

  li,
  p {
    font-size: 1.2rem;
  }

  .left-header,
  .right-header {
    font-size: 1.6rem;
  }

  .right-pointing,
  .left-pointing {
    width: 150px;
  }

  .right-pointing {
    margin-left: 10%;
  }
  .left-pointing {
    margin-right: 10%;
  }
}
@media screen and (max-width: 1100px) {
  .how-to-article,
  .what-now-article,
  article {
    width: 100%;
  }
  .app-desc,
  .app-info-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .landing-page-nav {
    margin: 0 !important;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 50px;
    height: 8%;
    z-index: 100;
    background-color: #ffd65b;
    padding-top: 1rem;
  }

  .banner {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
  }

  .banner-group {
    width: 100%;
    margin: 0;
    padding: 2rem;
  }

  .app-title {
    font-size: 2.7rem;
    margin: 0;
    margin-right: 20px;
  }

  .app-desc {
    width: 100%;
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  .app-info-wrapper {
    width: 100%;
  }

  .left-header,
  .right-header {
    margin: 1rem 0 0 0;
    font-family: Kanit;
    font-weight: 500;
    font-size: 1.4rem;
  }
  .app-info-wrapper > p {
    margin: 0 0 1rem 0;
    font-size: 1.1rem;
  }

  .article-header {
    font-size: 2rem;
  }

  .how-to-image {
    width: 80%;
    margin: auto;
    display: block;
    margin-top: 20px;
  }

  .how-to-article {
    width: 100%;
  }

  .right-arrow-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .left-arrow-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  p,
  li {
    font-size: 1.2rem;
    margin: 0;
  }

  .how-to-article > div {
    margin-bottom: 10%;
  }

  .congrats {
    font-size: 2rem;
  }

  .form-btn {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .app-title {
    font-size: 1.8rem;
    margin: 0;
  }

  .landing-page-icon {
    margin-left: -10px;
  }
}
