.landing-sect {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 50px;
}

header {
  width: 100%;
  color: aliceblue;
  background-color: #000000;
}

.banner-group {
  width: 50%;
  margin: 10% auto;
}

.app-title {
  font-size: 3rem;
  text-align: center;
}

.app-desc {
  text-align: center;
}

.button-group {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
}

.button-group button {
  width: 50%;
  margin: 1% auto;
}

/*Temp CSS */
a {
  width: 50%;
  margin: 1% auto;
}

a > button {
  width: 100% !important;
}
