.search-form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: auto;
  flex: 1;
  color: black;
}

.searchbar-label {
  font-size: 1.5rem;
  text-align: center;
}

.search-form > input {
  height: 50px;
}
