.signup-fieldset > button {
  margin-top: 20px;
}

.signup-fieldset {
  width: initial;
}

.label-alignment {
  display: flex;
  align-items: center;
}

.label-alignment > div {
  font-family: Cairo !important;
}
