.log-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
}

.log-wrapper > a {
  text-decoration: none;
  color: black;
  width: 100%;
}

.log-delete {
}

.log-name {
  margin: 0;
}

@media screen and (max-width: 500px) {
  .log-wrapper > a {
    width: 90%;
  }
}
