.log-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

.log-delete {
  width: 50px;
}
