.app-sect {
  display: flex;
  flex-direction: column;
  margin: 3rem 5% 0 5%;
  min-height: 100vh;
  padding-bottom: 50px;
}

.dashboard-sect {
  margin-top: 3rem;
}

.sort-by-label {
  font-size: 1.5rem;
}

.search-list {
  border: 1px solid black;
  border-radius: 3px;
}

.dash-header {
  background-color: #f4f4f4;
  display: flex;
  margin-bottom: 25px;
}

.create-log {
  text-decoration: none;
  margin-right: 10px;
}

.create-log-h2 {
  margin: 0;
  font-size: 1.2rem;
  color: black;
  font-family: Kanit;
  font-weight: 600;
  margin-top: -10px;
  text-align: center;
}

.logo {
  width: 110px;
}

.logo {
  height: auto;
  border: 0 solid #2b4d28;
  border-radius: 10px;
  transition: 0.3s;
}

.logo:hover {
  border: 3px solid #2b4d28;
}

@media screen and (min-width: 600px) {
  .create-log {
    position: absolute;
  }

  .tag-search-list {
    width: 50%;
    margin: auto;
  }
  .name-search-list {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 800px) {
  .logo {
    width: 120px;
  }

  .create-log-h2 {
    text-align: center;
    font-size: 1.4rem;
  }
}
