.app-sect {
  display: flex;
  flex-direction: column;
  margin: 3rem 5% 0 5%;
  min-height: 100vh;
  padding-bottom: 50px;
}

.dashboard-sect {
  margin-top: 3rem;
}

.sort-by-label {
  font-size: 1.5rem;
}

.search-list {
  border: 1px solid black;
  border-radius: 3px;
}

.dash-header {
  background-color: #f4f4f4;
  display: flex;
  margin-bottom: 5%;
}

.create-log {
  text-decoration: none;
}

.create-log-h2 {
  margin: 0;
  font-size: 1.2rem;
  color: black;
  font-family: Kanit;
  font-weight: 600;
  margin-top: -10px;
}

.logo {
  width: 100px;
}

@media screen and (max-width: 500px) {
}
