main {
  position: relative;
  min-height: 100vh;
}

footer {
  bottom: 0;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  background-color: rgb(36, 35, 35);
  color: aliceblue;
  height: 50px;
  width: 100%;
}

footer > code > a {
  color: aliceblue;
}

a,
button,
.item {
  cursor: pointer;
}

.list {
  background-color: rgb(233, 231, 231);
}

.list > a:hover,
.item:hover {
  background-color: #81ebc2;
}

.list > a:nth-child(even):hover,
.item:nth-child(even):hover {
  background-color: rgb(143, 245, 245);
}
